name: Build Linux Shared

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:        
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
          sudo apt-get update
          sudo apt-get install gettext

      - name: Bootstrap
        run: |
          ./bootstrap

      - name: Get the third-party libraries
        run: |
          sudo apt-get build-dep vlc

      - name: Configure
        run: |
          mkdir vlc-installed
          ./configure --prefix=${{ github.workspace }}/vlc-installed/ --enable-x11 --enable-xvideo --enable-sdl --enable-avcodec --enable-avformat \
           --enable-swscale --enable-mad --enable-libdvbpsi --enable-a52 --enable-libmpeg2 \
           --enable-dvdnav --enable-faad --enable-vorbis --enable-ogg --enable-theora \
           --enable-faac --enable-mkv --enable-freetype --enable-fribidi --enable-speex \
           --enable-flac --enable-caca \
           --disable-skins2 --enable-alsa --disable-qt --enable-ncurses \
           --disable-xcb

      - name: Compile
        run: |
          make

      - name: Install
        run: |
          sudo make install

      - name: Check installation files
        run: |
          echo "List root folder..."
          ls ${{ github.workspace }}/vlc-installed/
          echo "List bin folder..."
          ls ${{ github.workspace }}/vlc-installed/bin/
          echo "List include folder..."
          ls ${{ github.workspace }}/vlc-installed/include/
          echo "List lib folder..."
          ls ${{ github.workspace }}/vlc-installed/lib/
          echo "List share folder..."
          ls ${{ github.workspace }}/vlc-installed/share/
